.navColor{
    width: 250px;
    height: 100vh;
    background: crimson;
    color: white;
    padding: 20px;
}

.navColor a{
    padding-bottom: 20px;
}

.navColor a p{
    padding-left: 5px;
}

.navSet{
    display: flex;
    flex-direction: column;
}
