.navColor{
    width: 270px;
    height: 100vh;
    color: white;
    padding: 20px;
}

.navColor a{
    padding: 5px;
    margin: 20px;
}

.banner{
    display: flex;
    align-items: center;
    color: white;
    background-color: #1e3a8a;
    border-radius: 15px;
}

.navColor a:hover{
    padding: 5px;
    margin: 20px;
    /* display: flex;
    align-items: center; */
    color: #1e3a8a;
    background-color: white;
    border-radius: 15px;
}

.navColor a p{
    padding-left: 5px;
}

.navSet{
    display: flex;
    flex-direction: column;
}

.inactivelink{
    display: flex;
    align-items: center;
    color: white;
    background-color: #1e3a8a;
    border-radius: 15px;

}

.activelink{
    display: flex;
    align-items: center;
    color: #1e3a8a;
    background-color: white;
    border-radius: 15px;
}
